In [45]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

df = pd.read_csv("https://raw.githubusercontent.com/diogenesjusto/FIAP/master/Gradua%C3%A7%C3%A3o/dados/pib.csv")
df.head()

,Unnamed: 0,ANO_MES,PIB,BRL,BRP,BRT,SLP,SPP,SPT,PRL,...,PIBi3,PIBi4,PIBi5,PIBi6,PIBi7,PIBi8,PIBi9,PIBi10,PIBi11,PIBi12
0,1,jan/04,103.09,109.19,108.67,109.08,102.84,114.27,105.38,127.49,...,106.27,104.52,102.59,102.24,99.96,101.93,101.17,101.70,100.03,100.00
1,2,fev/04,102.05,95.65,104.52,97.63,90.76,109.83,94.99,96.60,...,104.10,106.27,104.52,102.59,102.24,99.96,101.93,101.17,101.70,100.03
2,3,mar/04,110.43,91.69,125.53,99.26,89.78,133.24,99.43,83.79,...,103.91,104.10,106.27,104.52,102.59,102.24,99.96,101.93,101.17,101.70
3,4,abr/04,106.77,95.36,118.34,100.49,94.58,123.55,101.02,91.79,...,103.09,103.91,104.10,106.27,104.52,102.59,102.24,99.96,101.93,101.17
4,5,mai/04,108.08,92.47,121.49,98.96,91.34,128.32,99.55,85.73,...,102.05,103.09,103.91,104.10,106.27,104.52,102.59,102.24,99.96,101.93

In [4]:
# Separação de bases de treino e teste
treino = df.iloc[0:125]
teste  = df.iloc[126:137]
treino.head()

,Unnamed: 0,ANO_MES,PIB,BRL,BRP,BRT,SLP,SPP,SPT,PRL,...,PIBi3,PIBi4,PIBi5,PIBi6,PIBi7,PIBi8,PIBi9,PIBi10,PIBi11,PIBi12
0,1,jan/04,103.09,109.19,108.67,109.08,102.84,114.27,105.38,127.49,...,106.27,104.52,102.59,102.24,99.96,101.93,101.17,101.70,100.03,100.00
1,2,fev/04,102.05,95.65,104.52,97.63,90.76,109.83,94.99,96.60,...,104.10,106.27,104.52,102.59,102.24,99.96,101.93,101.17,101.70,100.03
2,3,mar/04,110.43,91.69,125.53,99.26,89.78,133.24,99.43,83.79,...,103.91,104.10,106.27,104.52,102.59,102.24,99.96,101.93,101.17,101.70
3,4,abr/04,106.77,95.36,118.34,100.49,94.58,123.55,101.02,91.79,...,103.09,103.91,104.10,106.27,104.52,102.59,102.24,99.96,101.93,101.17
4,5,mai/04,108.08,92.47,121.49,98.96,91.34,128.32,99.55,85.73,...,102.05,103.09,103.91,104.10,106.27,104.52,102.59,102.24,99.96,101.93

In [6]:
teste.head()

,Unnamed: 0,ANO_MES,PIB,BRL,BRP,BRT,SLP,SPP,SPT,PRL,...,PIBi3,PIBi4,PIBi5,PIBi6,PIBi7,PIBi8,PIBi9,PIBi10,PIBi11,PIBi12
126,127,jul/14,154.34,150.55,165.58,153.80,154.34,181.79,159.98,160.34,...,150.92,151.44,148.92,151.43,150.30,153.20,156.88,153.50,156.98,156.05
127,128,ago/14,154.75,157.10,165.43,158.42,162.93,183.95,167.07,157.24,...,154.49,150.92,151.44,148.92,151.43,150.30,153.20,156.88,153.50,156.98
128,129,set/14,154.04,150.24,165.35,153.34,155.18,184.73,161.62,153.14,...,148.92,154.49,150.92,151.44,148.92,151.43,150.30,153.20,156.88,153.50
129,130,out/14,156.65,158.52,174.27,161.88,164.71,195.26,170.61,159.38,...,154.34,148.92,154.49,150.92,151.44,148.92,151.43,150.30,153.20,156.88
130,131,nov/14,151.46,157.98,159.69,157.81,163.41,177.27,165.67,161.48,...,154.75,154.34,148.92,154.49,150.92,151.44,148.92,151.43,150.30,153.20

In [60]:
# Construção do modelo de regressão Linear 
mod1 = LinearRegression()
# Dados que queremos prever: PIB, chamaremos de Y
Y = treino.iloc[:,[2]]
# Dados que utilizaremos como possível causa: por exemplo, BRP chamaremos de X
X = treino.iloc[:,[4]]
mod1.fit(X,Y)

LinearRegression()

In [61]:
# Preparação da base de teste para previsão utilizando o modelo de regressão
X_prev = teste.iloc[:,[4]]
Y_prev = mod1.predict(X_prev)

In [62]:
Y_real = teste.iloc[:,[2]].to_numpy()

In [63]:
# Calculo do erro de previsão
erro = Y_real - Y_prev
# Calculo do erro absoluto médio
erro_abs_medio = np.mean(abs(erro))
print(erro_abs_medio)
# Calculo do erro relativo (percentual)
erro_medio_perc = erro_abs_medio/np.mean(Y_real)
print(erro_medio_perc)

6.526113600381805
0.04315382418257662